body {
    font-family: 'Roboto', sans-serif;
}

.navbar{
    background-color: #333333;
    display:flex;
    justify-content:space-between;
    padding: 5px;
    border-radius: 40px;
}

h1{
    color:white;
    margin-left: 20px;
}

ul{
    display:flex;
    list-style-type: none;
    color: #c5c5c5;
    width: 30%;
    justify-content: space-around;
    align-items:center;
}

li.active{
    color:white;
}

button {
    background-color: #17a2b8;
    color: white;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    padding: 10px;
    font-size:15px;
    border-radius:20px;
}